<footer>
    <div class="f-info fac-info">
        <div class="fac-info-socials  f-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="fa-name">&copy;WanderLust Private Limited</div>
        <div class="f-info-links " id="fac-link">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>